st.font: 			mononoki NerdFont:pixelsize=13:antialias=true:autohint=true;
st.opacity: 		255
st.cwscale: 		0.94
st.chscale: 		0.82
st.borderpx: 		2
st.bold_font: 		1
st.xfps: 			60
st.actionfps: 		60

*.background: 		#EDEFDF
*.foreground: 		#3E453C

*.color0: 			#28433C
*.color1:			#BB3035
*.color2:			#779988
*.color3:			#7788AA
*.color4:			#99BB88
*.color5:			#887733
*.color6:			#257D33
*.color7:			#BABFA1

*.color8:			#A5B963
*.color9:			#DDEE77
*.color10:			#C9B25C
*.color11:			#555A45
*.color12:			#556699
*.color13:			#BB3035
*.color14:			#7A6688
*.color15:			#779988
